<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iframe</title>
</head>
<body>
    <h1>Iframe tag:-</h1>
	<iframe src="frame1.html" width="500px" height="300px"></iframe>
	<h1>Google Maps:-</h1>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3450097646733!2d77.69718747463158!3d12.94976121535759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae12335ccf1b9d%3A0xa3365bee1a2d62ed!2sMeghana%20Foods%20Marathalli!5e0!3m2!1sen!2sin!4v1698736817068!5m2!1sen!2sin" width="500px" height="300px" style="border:0;"></iframe>
	<h1>Youtube:-</h1>
	<iframe width="500px" height="300px" src="https://www.youtube.com/embed/ho1RzYneMtM?si=z5MQmj-IuE5pZWvD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>