<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <style>
		body
		{
			margin:0px;
		}
		#nav
		{
			background-color: black;
			text-align: center;
			padding: 7px;
		}
		a
		{
			color: white;
			background-color: orange;
			margin: 10px;
			display: black;
			width: 80px;
			border-radius: 10pxd;
		}
		a:hover
		{
			box-shadow: 0 0 10px white;
		}
	</style>
</head>
<body>
	<div id="nav">
		<a href="">Home</a>
		<a href="">Update</a>
		<a href="">Gallery</a>
		<a href="">Course</a>
		<a href="">Contact</a>		
	</div>
</body>
</html>