<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
    <h1>Jspiders Emp Imfo</h1>
	<table border="2px" cellpadding="20ps" cellspacing="10px">
		<thead>
			<tr>
				<th>EMPID</th>
				<th>EMPNAME</th>
				<th>EMPDESG</th>
				<th>EMPSAL</th>
				<th>EMPORG</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>JSPIO1</td>
				<td>Mr.Ramesh</td>
				<td>Vice President</td>
				<td>100000</td>
				<td>Jspiders</td>
			</tr>
			<tr>
				<td>JSPIO2</td>
				<td>Mr.Santosh</td>
				<td>Sr.Trainer</td>
				<td>80000</td>
				<td>Jspiders</td>
			</tr>
			<tr>
				<td>JSPIO3</td>
				<td>Mr.Abc</td>
				<td>Sr.Trainer</td>
				<td>70000</td>
				<td>Jspiders</td>
			</tr>
			<tr>
				<td>JSPIO4</td>
				<td>Mr.Ravi</td>
				<td>Sr.Trainer</td>
				<td>850000</td>
				<td>Jspiders</td>
			</tr>

		</tbody>
</body>
</html>